@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-black text-white min-h-screen;
}

body {
  margin: 10;
  padding: 10;
  margin-top: 0;
}
@keyframes neonCycle {
  0% { color: #00ffff; text-shadow: 0 0 8px #00ffff; }
  25% { color: #ff0080; text-shadow: 0 0 8px #ff0080; }
  50% { color: #ffff00; text-shadow: 0 0 8px #ffff00; }
  75% { color: #00ff00; text-shadow: 0 0 8px #00ff00; }
  100% { color: #ff0000; text-shadow: 0 0 8px #ff0000; }
}
.animate-neon {
  animation: neonCycle 2s infinite alternate;
}

